{% extends 'midd.html.twig' %}

{% block content %}
  <nav>
    <ul>
      <li><a href="{{ path('list_plugins') }}">Plugins</a></li>
      <li><a href="{{ path('list_themes') }}">Themes</a></li>
    </ul>
  </nav>
{% endblock %}
